<?xml version="1.0" encoding="utf-8"?>
<widget id="com.ravenmechanical.sds" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Raven SDS</name>
    <description>
       SDS Files
    </description>
    <author email="freddys@inazca.com" href="https://www.itnazca.com/">
        Nazca Tech And Consulting
    </author>
	<content src="index.html" />
	
	<gap:plugin name="com.phonegap.plugin.statusbar" />

	<preference name="StatusBarOverlaysWebView" value="false"/>
	<preference name="StatusBarBackgroundColor" value="#FFFFFF"/>
	<preference name="StatusBarStyle" value="default" />
	
	<icon src="icon.png" gap:platform="ios" width="76" height="76"/>
	<icon src="icon-76.png" gap:platform="ios" width="76" height="76"/>
	<icon src="icon-90.png" gap:platform="ios" width="90" height="90"/>
	<icon src="icon-120.png" gap:platform="ios" width="120" height="120"/>
	<icon src="icon-152.png" gap:platform="ios" width="152" height="152"/>
	
	<gap:splash src="splash.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash-320x480.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash-640x960.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splash-768x1024.png" gap:platform="ios" width="768" height="1024" />
	<gap:splash src="splash-1536x2048.png" gap:platform="ios" width="1536" height="2048" />
	<gap:splash src="splash-1024x768.png" gap:platform="ios" width="1024" height="768" />
	<gap:splash src="splash-2048x1536.png" gap:platform="ios" width="2048" height="1536" />
	<gap:splash src="splash-640x1136.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splash-750x1334.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="splash-1242x2208.png" gap:platform="ios" width="1242" height="2208" />
	<gap:splash src="splash-2208x1242.png" gap:platform="ios" width="2208" height="1242" />

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
