<?xml version="1.0" encoding="utf-8"?>
<widget id="com.ravenmechanica.sds" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Raven SDS</name>
    <description>
       SDS Files
    </description>
    <author email="freddys@inazca.com" href="https://www.itnazca.com/">
        Nazca Tech And Consulting
    </author>
	<content src="index.html" />
    <platform name="ios">
	<icon src="img/icono76.png" width="76" height="76"/>
	<icon src="img/icono90.png" width="90" height="90"/>
	<icon src="img/icono120.png" width="120" height="120"/>
	<icon src="img/icono152.png" width="152" height="152"/>
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
